.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #272d48;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-weight: bolder;
  color: #d6376b;
  justify-content: center;
  align-content: center;
}

.ul {
  display: flex;
  margin: 25px;
  color: black;
}

.li {
  margin: 5px;
  list-style: none;
  color: #d6376b;
}

.li > a {
  text-decoration: none;
  color: #d6376b;
  font-weight: bold;
}

.right{
  display: flex;
  justify-content: right;
  align-items: center;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  font-size: 23px;
}

.right > .li {
  margin: 15px!important;
}