.top{
    background-image: url(../slike/backgroundImg.png);
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .toptext{
    text-align: center;
    color: #D6376B;
  }
  
  #top h1{
    font-size: 64px!important;
  }

.buycard{
    width: 80%;
    height: 200px;
    margin-top: 50px;
    position: relative;
    background-color: #272D48;
    border-radius: 10px;
    justify-content: space-between;
    align-content: center;
}

.buycardparent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buycardtext{ 
  color: white;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.kupi{
  width: max-content;
}

.counter{
    position: absolute;
}

.opisbody{
  display:flex;
}

.opis{
  width: 45%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #272D48;
  border-radius: 10px;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
  color: white;
}

.naslov{
  color: #D6376B;
}

.carousel {
  width: 40%;
  height: 200px;
  margin-top: -25px;
}

.carousel > img{
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.podatkidogodek{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opisdogodek{
  width: 80%;
  height: 250px;
  background-color: #272D48;
  border-radius: 10px;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
  color: white;
}

.podatkiorganizator{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opisorg{
  width: 80%;
  height: 250px;
  background-color: #272D48;
  border-radius: 10px;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
  color: white;
}