#main {
  background-color: white;
}

.homepage {
  overflow-y: scroll;
  overflow-x: hidden;
}

.top{
  background-image: url(../slike/backgroundImg.png);
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toptext{
  text-align: center;
  color: #D6376B;
}

#top h1{
  font-size: 64px!important;
}

.carouselname{
  color: #D6376B;
  margin-left: 20px;
  margin-bottom: 0;
}

.carousel{
  margin-top: 0;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.carousel a{
  color: black;
}