#main {
  background-color: white;
}

.homepage {
  overflow-y: scroll;
  overflow-x: hidden;
}

.top{
  background-image: url(../slike/backgroundImg.png);
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toptext{
  text-align: center;
  color: #D6376B;
}

#top h1{
  font-size: 40px!important;
}

.carouselname{
  color: #D6376B;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 20px;
}

.carousel a{
  color: white;
}

.buttonparent{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  text-decoration: none;
  background-color: #272D48;
  color: white;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-radius: 10px;
}

#arrow {
  color: #D6376B;
}