#registerForm {
    background-color: #272D48;
    margin: 2% 25%;
    padding: 2%;
    border-radius: 20px;
}

#registerForm h1 {
    text-align: center;
    font-size: 48px;
    color: #D6376B;
    margin: 0%;
}

#registerForm div {
    margin: 3% 1%;
}

#registerForm label {
    font-size: 24px;
    color: #fff;
}

#list {
    color:#D6376B;
}

#registerForm .inputField {
    background-color: white;
    color: black;
    padding: 2%;
    display: block;
    width: 100%;
    border-radius: 20px;
    line-height: 2.2em;
    border: 1px solid white;
}

/*#registerForm .check {
    font-size: 8px;
    display: inline;
    width: auto;
    color: #272D48;
    border: 2px solid #D6376B;
    margin: 1%;
}*/